<!DOCTYPE html>
<html>
  <head>
    <title>Mastermind Game</title>
    <link href= "<%=url('/styles.css') %>" type = 'text/css' rel = 'stylesheet'/>
  </head>
  <body class ='play'>
    <div class ='game-container'>
    <h1>Turn #<%= turn%></h1>
    <div class='past-turns'>
    <% puts codes%>
    <%codes.each_with_index do |turn,index|%>
      <h2>Turn <%= index+1 %>:</h2>
      <% turn.each do |color|%>
          <div class='colorblock <%=color%>'></div>
      <% end %>
      <div class ='matches'>
        <p>Exact Matches: <%=matches[index][0] %>, Color Matches: <%=matches[index][1]%> </p>
      </div>
      <br />
    <% end %>
    </div>
    <% if !matches.empty? && matches[-1][0] == 4%>
      <p class='win'>Congrats! You Win</p>
      <form>
        <input type ='submit' value ='Try Again!'>
      </form>
    <%else %>
      <p> Guess The Code:</p>
      <form>
        <select name ='color1'>
          <option class='Red'>Red</option>
          <option class ='Green'>Green</option>
          <option class ='Blue'>Blue</option>
          <option class ='Yellow'>Yellow</option>
          <option class ='Black'>Black</option>
          <option class ='White'>White</option>
        </select>

        <select name ='color2'>
          <option class='Red'>Red</option>
          <option class ='Green'>Green</option>
          <option class ='Blue'>Blue</option>
          <option class ='Yellow'>Yellow</option>
          <option class ='Black'>Black</option>
          <option class ='White'>White</option>
        </select>

        <select name ='color3'>
          <option class='Red'>Red</option>
          <option class='Green'>Green</option>
          <option class='Blue'>Blue</option>
          <option class='Yellow'>Yellow</option>
          <option class='Black'>Black</option>
          <option class='White'>White</option>
        </select>

        <select name ='color4'>
          <option class='Red'>Red</option>
          <option class ='Green'>Green</option>
          <option class ='Blue'>Blue</option>
          <option class ='Yellow'>Yellow</option>
          <option class ='Black'>Black</option>
          <option class ='White'>White</option>
        </select>

        <input type='submit' value='Guess'/>
      </form>
    <% end %>
    </div>
  </body>
</html>